#top {
	/*border-bottom: 1px solid #05D1FF;*/
	margin-top: 50px;
	background-color: #D3DBDE;
	
}

#top .container  {
	margin: 0 auto;
	padding-top: 110px;
	text-align: center;
	height: 600px;
	background: url(../img/originalsplah.png) no-repeat;
	background-size: cover;

}

.pageContainer {
	padding-top: 1%;
	padding-bottom: 1%;
	min-height: 600px;
}


/*#home, #works {
	padding-top: 30px;
}
*/
#home {
	background: url(../img/brushed_@2X.png)
}

#works {
	background: url(../img/sos.png)
}

#paperless {
	background: url(../img/pixel_weave_@2X.png)
}

#enquires {
	background: url(../img/sos.png);
	min-height: 450px;
}

#enquires img {
	margin-right: 5px;
}

#tracker {
	
}

#price {
	background: url(../img/pixel_weave_@2X.png);
}

#news {
	background: url(../img/brushed_@2X.png)
}

#contact {
	background: url(../img/sos.png)
}

#online img {
	margin-top: 20px;
}

#price li {
	margin-bottom: 15px;
}
.Bottomcaption {
	font-size: 1.8em;
	text-align: center;
	font-weight: bold;
}

.underline {
	text-decoration: underline;
}

.bigger {
	font-size: 1.3em;
}

.centerItalic {
	margin-top: 15px;
	font-style: italic;
	text-align: center;
}

.red {
	color: #f05b5b;
}

.big {
	font-size: 1.4em;
}

small {
	font-size: .7em;
}
